extends defaultUser

block append vars
  - var title = course.name
  - styles.push("user/courses")
  - var navSelected = "courses"
  - var pathDepth = 3;

block main
  main.main-courses
    if course
      h2= course.name
      p= course.description

      h3 Enrolled Students:
      if students.length > 0
        each student in students
          a.course-button(href='#')
            img.profile-pic(src=student.photoLink || '/images/default-profile.png', alt=student.firstName + ' ' + student.lastName)
            div.course-button-content
              h4= student.firstName + ' ' + student.lastName
              button.friend-request-btn(data-student-id=student.studentId) Send Friend Request
      else
        p.no-students No students enrolled in this course.

    else
      p Course details not available.

    if error
      p.error-message= error
