extends profile

block append vars
  - var pathDepth = 3;

block profileContent
    .profile__sections
        .profile__box 
            div.avatar
                img(src=parseUserImageLink(viewedUser.photoLink) alt="Avatar" class="profile__avatar")

            h2.profile__name= viewedUser.firstName + " " + viewedUser.lastName 

        .profile__box
            h2 Email
            p= viewedUser.email

            h2 Birth Date
            p= viewedUser.birthDate || 'Not provided'

            h2 Program
            p= viewedUser.programId || 'Unknown'

            h2 Hobbies
            p= viewedUser.hobbies || 'No hobbies listed'