extends defaultUser

block append vars
  - var title = "Profile";
  - styles.push("user/profile")
  - var pathDepth = 2;

block main
  main.main-profile
    h1 Profile
    .profile-sections
      .profile-box 
        div.avatar
          img(src=user.photoLink || "../images/blank-profile.jpg" alt="Avatar" class="avatar-img")

          // Add a hidden file input for avatar upload
          input#avatarInput(type="file" name="avatar" accept="image/*" style="display: none;" onchange="uploadAvatar(this)")
          button.profile-btn(type="button" onclick="document.getElementById('avatarInput').click()") Change Avatar

        h2.profile-name= user.firstName + " " + user.lastName 

      .profile-box 
        h2.profile-friend Friend Requests
      
      .profile-box 
        h2.profile-edit Edit Profile
        form.profile-form#profileForm
          .input-group
            label(for="firstName") First Name
            input#firstName(type="text" name="firstName" value=user.firstName required)
          .input-group
            label(for="lastName") Last Name
            input#lastName(type="text" name="lastName" value=user.lastName required)
          .input-group
            label(for="birthDate") Birth Date
            input#birthDate(type="date" name="birthDate" value=user.birthDate)

          .input-group
            label(for="program") Program
            input#program(type="text" name="programId" value=user.program)

          .input-group.email
            label(for="email") Email
            input#email(type="email" name="email" value=user.email required)

          .input-group.hobbies
            label(for="hobbies") Hobbies
            input#hobbies(type="text" name="hobbies" value=user.hobbies)

          button.profile-btn(type="button" onclick="updateProfile()") Save Profile

    script(src="../javascripts/profile.js")